@import '../../config/styles';

.pg-container {
  width: calc(100% - 2*$padding-lr);
  padding: 15px $padding-lr 10px $padding-lr;

  .pg {
    font-size: 16px;
    font-family: $font-primary-medium;
    color: $font-color-secondary;
    margin: 0;
  }
}