@import "../config/styles";

.page-container {
  height: 110vh;

  .phone-container {
    display: flex;
    justify-content: center;
    width: 650px;

    .phone {
      position: absolute;
      height: 100%;
    }
  }
}
