@import "../config/styles";

.page-container {
  display: flex;
  justify-content: center;

  .phone-container {
    display: flex;
    justify-content: center;

    .phone {
      z-index: 10;
      width: 110%;
      position: absolute;
    }
  }
}
