@import "../config/styles";

body {
	margin: 0;
	padding: 0;
	font-family: $font-primary-black;
}

@import '../components/Button/style.scss';
@import '../components/Card/style.scss';
@import '../components/InlineStepper/style.scss';
@import '../components/Image/style.scss';
