@import "../config/styles";

body {
	margin: 0;
	padding: 5rem;
	font-family: $font-primary-black;
	background-color: $background-color;
}

@import '../components/Button/style.scss';
@import '../components/SearchBar/style.scss';
@import '../components/Card/style.scss';
@import '../components/InlineStepper/style.scss';
@import '../components/Image/style.scss';
@import '../components/Paragraph/style.scss';
@import '../components/Heading/style.scss';
@import './landing.scss'
