@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: "Avenir Black";
  background-color: #FCFCFF; }

.page-container {
  padding: 12vh; }
  .page-container .page {
    height: 76vh;
    width: 100%; }

@media (max-width: 420px) {
  .page-container {
    padding: 2.5rem; } }

.flex-center-inside, .heading.center, .info .example-container {
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.btn {
  color: white;
  height: 2rem;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 20px 0 20px;
  cursor: pointer;
  font-family: "Avenir Medium";
  margin: .2rem;
  outline: 0px solid black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn span:last-child:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s; }
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding-right: 0; }
    .btn span:hover {
      color: #E5DAF0; }
  .btn-primary {
    background-color: #8865EA;
    border: 0.1rem solid #8865EA; }
    .btn-primary:active {
      border: 0px solid black; }
  .btn-secondary {
    background-color: #E5DAF0;
    border: 0.1rem solid #E5DAF0; }
    .btn-secondary:active {
      border: 0px solid black; }
  .btn.rounded {
    border-radius: 20px; }
  .btn.large {
    font-size: 1.2rem;
    height: 3.2rem; }
    .btn.large.rounded {
      border-radius: 1.6rem; }
  .btn.ghost, .btn.textOnly {
    background: none;
    color: #8865EA; }
    .btn.ghost:hover, .btn.textOnly:hover {
      outline: 0;
      background-color: #FCFCFF;
      -webkit-box-shadow: 1px 2px 4px #8865EA;
      -moz-box-shadow: 1px 2px 4px #8865EA;
      box-shadow: 1px 2px 4px #8865EA; }
  .btn.textOnly {
    border-width: 0px;
    color: #020202; }
    .btn.textOnly:hover {
      outline: 0;
      background-color: #E5DAF0;
      -webkit-box-shadow: 0px 0px 0px #8865EA;
      -moz-box-shadow: 0px 0px 0px #8865EA;
      box-shadow: 0px 0px 0px #8865EA; }
  .btn:hover {
    outline: 0;
    -webkit-box-shadow: 1px 2.5px 1px #5D5869;
    -moz-box-shadow: 1px 2.5px 1px #5D5869;
    box-shadow: 1px 2.5px 1px #5D5869; }
    .btn:hover span:last-child {
      padding-right: 25px; }
  .btn:active {
    background-color: #E5DAF0;
    outline: 0px solid black; }
  .btn .light {
    font-family: "Avenir Light"; }

.btn:hover span:after {
  opacity: 1;
  right: 0; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.search-container {
  padding: 5px 20px 5px;
  width: calc(100% - 2*$padding-lr); }
  .search-container .search {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; }
    .search-container .search .glass {
      max-height: 13px;
      max-width: 13px;
      padding-left: 15px;
      padding-right: 20px;
      flex: 1; }
    .search-container .search .search-text {
      color: black;
      border-width: 0px;
      font-size: 13px;
      font-family: "Avenir Medium";
      flex: 10;
      transform: translate(0, 8%); }
      .search-container .search .search-text:focus {
        outline: 0; }
    .search-container .search .buffer {
      flex: 2; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.card {
  box-shadow: 0px 0px 35px rgba(2, 2, 2, 0.18);
  background: #FFFFFF;
  width: 400px;
  margin: 15px 15px 0 15px;
  height: auto;
  overflow: visible;
  padding: 0 0 10px 0; }
  .card-small {
    width: 270px; }
  .card-medium {
    width: 400px; }
  .card-large {
    width: 600px; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.stepper {
  display: flex;
  width: calc(100% - 2*$padding-lr);
  justify-content: space-between;
  padding: 10px 20px 2px 20px;
  height: 30px;
  align-items: center; }
  .stepper h1 {
    font-family: "Avenir Black";
    font-size: 17px;
    font-weight: 600;
    margin: 0; }
  .stepper .step-container {
    display: flex; }
    .stepper .step-container .button-container {
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      margin-left: 10px; }
      .stepper .step-container .button-container img {
        width: 100%; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.img-container {
  width: 100%; }
  .img-container img {
    width: 100%;
    display: block; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.pg-container {
  width: calc(100% - 2*$padding-lr);
  padding: 10px 20px 0 20px;
  text-align: left; }
  .pg-container .pg {
    font-size: 16px;
    font-family: "Charter";
    color: #5D5869;
    margin: 0;
    line-height: 120%; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.heading {
  padding: 12px 20px 10px 20px;
  width: calc(100% - 2*$padding-lr);
  height: auto;
  text-align: left; }
  .heading h1, .heading h2, .heading h3 {
    margin: 0; }
  .heading1 {
    font-size: 36px; }
  .heading2 {
    font-size: 28px; }
  .heading3 {
    font-size: 20px; }
  .heading.center {
    text-align: center; }

.choose-file {
  display: block;
  margin: auto;
  background-color: #7b59e8;
  border-radius: 100%;
  color: #fafbfa;
  font-family: "Avenir Light";
  font-size: 1.3rem;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  transition: all .4s ease;
  outline: none; }
  .choose-file:hover {
    outline: 0;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 4px #8865EA;
    -moz-box-shadow: 1px 2px 4px #8865EA;
    box-shadow: 1px 2px 4px #8865EA; }

.dropzone-heading {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Avenir Medium";
  padding-left: 20px;
  padding-right: 20px; }
  .dropzone-heading h1 {
    font-size: 2rem;
    vertical-align: middle;
    margin: 0;
    font-style: light; }
  .dropzone-heading div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #7b59e8;
    margin: auto;
    margin-bottom: 40px;
    color: #fafbfa;
    font-size: 40px;
    font-style: light;
    position: relative; }
    .dropzone-heading div p {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin: 0; }

.upload-err {
  font-weight: lighter;
  color: gray;
  font-family: "Avenir Light";
  display: block;
  margin-top: 20px; }

.webcam-container {
  display: flex; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.buttonBar {
  width: calc(100%-2*$padding-lr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  margin: 8px 0 8px 0; }
  .buttonBar h3 {
    font-family: "Avenir Light";
    color: #5D5869;
    font-size: 17px; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav-container {
  font-family: "Avenir Black";
  display: flex;
  justify-content: space-between;
  height: 13vh;
  width: 100vw;
  position: absolute; }
  .nav-container .left, .nav-container .instructionRow .right, .instructionRow .nav-container .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav-container .left .logo-container, .nav-container .instructionRow .right .logo-container, .instructionRow .nav-container .right .logo-container {
      height: 100%;
      width: fit-content; }
      .nav-container .left .logo-container .logo, .nav-container .instructionRow .right .logo-container .logo, .instructionRow .nav-container .right .logo-container .logo {
        margin: 0 15px 0 15px;
        max-height: 55%;
        transform: translate(0, -50%);
        top: 50%;
        position: relative; }
    .nav-container .left .genie-container, .nav-container .instructionRow .right .genie-container, .instructionRow .nav-container .right .genie-container {
      height: 100%;
      width: fit-content; }
      .nav-container .left .genie-container .genie-text, .nav-container .instructionRow .right .genie-container .genie-text, .instructionRow .nav-container .right .genie-container .genie-text {
        margin-left: 10px;
        max-height: 25%;
        transform: translate(0, -50%);
        top: 50%;
        position: relative; }
  .nav-container .link-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50vw;
    margin-right: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none; }
    .nav-container .link-container .links {
      padding-left: 10px; }
    .nav-container .link-container .link-text {
      color: black;
      border-width: 0px;
      font-size: 1.2rem;
      font-family: "Avenir Medium";
      text-decoration: none;
      position: relative; }
      .nav-container .link-container .link-text:before {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        background-color: #8865EA;
        transform: scaleX(0);
        transition: all .2s ease; }
      .nav-container .link-container .link-text:hover:before {
        transform: scaleX(1); }
      .nav-container .link-container .link-text:focus {
        outline: 0; }
  .nav-container .buffer {
    flex: 2; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.instructionRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0 1.5rem 0; }
  .instructionRow .left, .instructionRow .right {
    flex: 1;
    align-items: center;
    display: flex; }
    .instructionRow .left .image-container, .instructionRow .right .image-container {
      width: 55%; }
      .instructionRow .left .image-container img, .instructionRow .right .image-container img {
        width: 100%; }
  .instructionRow .right .image-container img {
    max-width: 90%;
    width: none; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.divider {
  height: 250px;
  width: 100vw;
  color: #FCFCFF;
  text-align: center;
  font-size: 2rem;
  font-family: "Avenir Medium";
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, #5603d7 0%, #a690f5 60%, #2eb0f2 100%); }

.landing, .info {
  min-height: 75vh;
  height: auto;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #FCFCFF;
  flex-direction: column;
  overflow: hidden; }
  .landing .text-container, .info .text-container {
    overflow-y: hidden; }
    .landing .text-container h1, .info .text-container h1 {
      font-family: "Avenir Black";
      color: #020202;
      margin: 1rem 0rem 1rem 0rem;
      font-size: 3.5rem; }
    .landing .text-container p, .info .text-container p {
      font-family: "Avenir Medium";
      color: #5D5869;
      font-size: 1.3rem;
      letter-spacing: .02rem; }
  .landing .splash-container, .info .splash-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 80%;
    position: absolute;
    align-self: flex-end; }
    .landing .splash-container img, .info .splash-container img {
      max-height: 100%; }

@media (max-width: 420px) {
  .splash-container {
    display: none; } }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .info .text-container {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column; }
    .info .text-container h1 {
      font-size: 2.8rem;
      flex: 1; }
    .info .text-container .info-container {
      flex: 15;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .info .text-container .info-container img {
        max-width: 2rem;
        max-height: 2rem;
        flex: 1;
        margin: 0 2rem 0 0; }
      .info .text-container .info-container .info-text {
        flex: 8;
        display: flex;
        flex-direction: column; }
        .info .text-container .info-container .info-text h2 {
          flex: 1;
          font-family: "Avenir Medium";
          margin: .2rem 0 .2rem 0; }
        .info .text-container .info-container .info-text p {
          flex: 2;
          margin: .2rem 0 .2rem 0;
          font-size: 1rem; }
    .info .text-container Button {
      margin: 1rem 0 0 0; }
  .info .example-container {
    flex: 1;
    height: fit-content; }

@media (max-width: 420px) {
  .info .text-container h1 {
    font-size: 1.5rem;
    flex: 1; }
  .info .text-container .info-container {
    flex: 15;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .info .text-container .info-container img {
      max-width: 2rem;
      max-height: 2rem;
      flex: 1;
      margin: 0 2rem 0 0; }
    .info .text-container .info-container .info-text {
      flex: 8;
      display: flex;
      flex-direction: column; }
      .info .text-container .info-container .info-text h2 {
        flex: 1;
        font-size: .85rem;
        font-family: "Avenir Medium";
        margin: .2rem 0 .2rem 0; }
      .info .text-container .info-container .info-text p {
        flex: 2;
        margin: .2rem 0 .2rem 0;
        font-size: .7rem; }
  .info .example-container {
    display: none; } }

.page.upload {
  display: flex;
  align-items: center; }

.upload-container {
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  box-sizing: border-box; }
  @media (max-width: 900px) {
    .upload-container {
      width: 100%; } }
  .upload-container .upload-dropzone button {
    background-color: #FCFCFF;
    border: none;
    -webkit-box-shadow: 0px 0px 4px #8865EA;
    -moz-box-shadow: 0px 0px 4px #8865EA;
    box-shadow: 0px 0px 4px #8865EA; }
  .upload-container .upload-heading {
    margin-bottom: 50px; }
    .upload-container .upload-heading .heading1 {
      margin-bottom: 0; }
    .upload-container .upload-heading .pg {
      font-size: 1.15rem;
      color: #5D5869; }
    @media only screen and (max-width: 600px) {
      .upload-container .upload-heading {
        display: none; } }

.bg-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80%;
  position: absolute;
  align-self: flex-end;
  z-index: -1; }
  .bg-container img {
    width: 100%;
    max-height: 80vh;
    min-height: 60vh; }

.components-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  justify-content: space-between; }
  @media (max-width: 1050px) {
    .components-container {
      width: 100%; } }
  .components-container .mockup {
    overflow: hidden;
    width: 25%;
    min-width: 350px; }
    .components-container .mockup .heading {
      padding: 0;
      text-align: center; }
    .components-container .mockup img {
      width: 100%; }
    .components-container .mockup .image-container {
      width: 100%; }
      .components-container .mockup .image-container img {
        width: 100%; }
  .components-container .arrow {
    min-width: 70px;
    max-width: 110px;
    margin: 0px 25px 0 25px; }
    .components-container .arrow img {
      width: 100%; }
  .components-container .components-card-phone {
    width: 25%;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .components-container .components-card-phone .phone {
      width: 105%;
      position: absolute; }
    .components-container .components-card-phone .card {
      width: 95%;
      margin: 0;
      overflow: hidden; }

.phone-container {
  display: flex;
  justify-content: center;
  width: fit-content !important; }
  .phone-container .phone {
    position: absolute;
    height: 566px !important; }

.loading {
  margin: auto; }
  .loading .heading2 {
    font-size: 28px;
    font-family: "Avenir Medium";
    color: #020202; }

.spinner {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot1 {
  background-color: #E5DAF0; }

.dot2 {
  top: auto;
  bottom: 0;
  background-color: #8865EA;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Charter';
  src: url("../assets/fonts/charter/Charter.woff2") format("woff2"), url("../assets/fonts/charter/Charter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.page-container {
  display: flex;
  justify-content: center; }
  .page-container .phone-container {
    display: flex;
    justify-content: center;
    width: 650px; }
    .page-container .phone-container .phone {
      position: absolute;
      height: 611px; }
