@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Black"; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.btn {
  color: white;
  height: 40px;
  border-width: 0;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Avenir Black";
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .btn-primary {
    background-color: #ff7575; }
  .btn-secondary {
    background-color: #ffd69e; }
  .btn:hover, .btn:active, .btn:focus {
    outline: 0;
    background-color: #ffd69e; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.card {
  box-shadow: 0px 0px 35px rgba(2, 2, 2, 0.18);
  background: #FFFFFF;
  width: fit-content; }
