@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

body {
  margin: 0;
  font-family: "Avenir Black";
  background-color: #FCFCFF; }

.page-container {
  padding: 5rem; }
  .page-container .page {
    height: 75vh;
    width: 100%; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.btn {
  color: white;
  height: 2rem;
  border-width: 0;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  cursor: pointer;
  font-family: "Avenir Medium";
  margin: .2rem;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .btn-primary {
    background-color: #7B53EB;
    border: 0.1rem solid #7B53EB; }
  .btn-secondary {
    background-color: #E5DAF0;
    border: 0.1rem solid #E5DAF0; }
  .btn.rounded {
    border-radius: 20px; }
  .btn.large {
    font-size: 1.2rem;
    height: 3.2rem;
    border-radius: 1.6rem; }
  .btn.ghost {
    background: none;
    color: #7B53EB; }
    .btn.ghost:hover, .btn.ghost:active, .btn.ghost:focus {
      outline: 0;
      background-color: #FCFCFF;
      -webkit-box-shadow: 1px 2px 4px #7B53EB;
      -moz-box-shadow: 1px 2px 4px #7B53EB;
      box-shadow: 1px 2px 4px #7B53EB; }
  .btn .light {
    font-family: "Avenir Light"; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.search-container {
  padding: 5px 10px 5px 10px;
  width: 200px; }
  .search-container .search {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; }
    .search-container .search .glass {
      max-height: 13px;
      padding-left: 15px;
      padding-right: 20px;
      flex: 1; }
    .search-container .search .search-text {
      color: black;
      border-width: 0px;
      font-size: 13px;
      font-family: "Avenir Medium";
      flex: 10;
      transform: translate(0, 8%); }
      .search-container .search .search-text:focus {
        outline: 0; }
    .search-container .search .buffer {
      flex: 2; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.card {
  box-shadow: 0px 0px 35px rgba(2, 2, 2, 0.18);
  background: #FFFFFF;
  width: 220px; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.stepper {
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding: 8px 10px 8px 10px;
  align-items: center; }
  .stepper h1 {
    font-family: "Avenir Black";
    font-size: 13px;
    font-weight: 600;
    margin: 0; }
  .stepper .step-container {
    display: flex; }
    .stepper .step-container .button-container {
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      margin-left: 10px; }
      .stepper .step-container .button-container img {
        width: 100%; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.img-container {
  width: 220px; }
  .img-container img {
    width: 100%;
    display: block; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.pg-container {
  width: 200px;
  padding: 10px 10px 5px 10px; }
  .pg-container .pg {
    font-size: 10px;
    font-family: "Avenir Medium";
    margin: 0; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.heading {
  padding: 8px 10px 8px 10px;
  width: 200px;
  height: auto; }
  .heading h1, .heading h2, .heading h3 {
    margin: 0; }
  .heading1 {
    font-size: 40px; }
  .heading2 {
    font-size: 30px; }
  .heading3 {
    font-size: 24px; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.landing, .info {
  height: 75vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #FCFCFF;
  flex-direction: column;
  overflow: hidden; }
  .landing .text-container, .info .text-container {
    overflow-y: hidden; }
    .landing .text-container h1, .info .text-container h1 {
      font-family: "Avenir Black";
      color: #020202;
      margin: 1rem 0rem 1rem 0rem;
      font-size: 3.5rem; }
    .landing .text-container p, .info .text-container p {
      font-family: "Avenir Medium";
      color: #6B6776;
      font-size: 1.3rem;
      letter-spacing: .02rem; }
  .landing .splash-container, .info .splash-container {
    max-width: 70%;
    height: 80%;
    position: absolute;
    align-self: flex-end; }
    .landing .splash-container img, .info .splash-container img {
      max-height: 100%; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../assets/fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../assets/fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../assets/fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../assets/fonts/avenir/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.info {
  display: flex;
  flex-direction: row; }
  .info .text-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .info .text-container h1 {
      font-size: 2.8rem;
      flex: 1; }
    .info .text-container .info-container {
      flex: 15;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .info .text-container .info-container img {
        max-width: 2rem;
        max-height: 2rem;
        flex: 1;
        margin: 0 2rem 0 0; }
      .info .text-container .info-container .info-text {
        flex: 8;
        display: flex;
        flex-direction: column; }
        .info .text-container .info-container .info-text h2 {
          flex: 1;
          font-family: "Avenir Medium";
          margin: .2rem 0 .2rem 0; }
        .info .text-container .info-container .info-text p {
          flex: 2;
          margin: .2rem 0 .2rem 0;
          font-size: 1rem; }
    .info .text-container Button {
      margin: 1rem 0 0 0; }
  .info .example-container {
    flex: 1; }
