@import "../config/styles";

.divider{
  height: 250px;
  width: 100vw;
  color: #FCFCFF;
  text-align: center;
  font-size: 2rem;
  font-family: $font-primary-medium;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, rgba(86,3,215,1) 0%, rgba(166,144,245,1) 60%, rgba(46,176,242,1) 100%);
}

.landing {
  min-height: 75vh;
  height: auto;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: $background-color;
  flex-direction: column;
  overflow: hidden;

  .text-container {
    overflow-y: hidden;

    h1 {
      font-family: $font-primary-black;
      color: $font-color-primary;
      margin: 1rem 0rem 1rem 0rem;
      font-size: 3.5rem;
    }

    p {
      font-family: $font-primary-medium;
      color: $font-color-secondary;
      font-size: 1.3rem;
      letter-spacing: .02rem;
    }
  }

  .splash-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 80%;
    position: absolute;
    align-self: flex-end;

    img {
      max-height: 100%;
    }
  }
}

@media(max-width: 420px) {
  .splash-container {
    display: none;
  }
}
