.page.upload{
	display: flex;
	align-items: center;
}

.pg-container{
	padding-top: 0;
}

.upload-container{
	margin: auto;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	box-sizing: border-box;

	@media(max-width: 900px) {

		width: 100%;
		
	}
	
	.upload-dropzone{
		button{
			background-color: #FCFCFF;
			border: none;
			@include box-shadow(0px, 0px, 4px, $primary);
		}
	}

	.upload-heading{
		margin-bottom: 50px;
		.heading1{
			margin-bottom: 0;
		}

		.pg{
			font-size: 1.15rem;
			color: $font-color-secondary;
		}
		@media only screen and (max-width: 600px) {
		   display: none;
		}
	}
}

.bg-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80%;
    position: absolute;
    align-self: flex-end;
    z-index: -1;
    img {
     width: 100%;
     max-height: 80vh;
     min-height: 60vh;
    }
}

.components-container{
	display: flex;
	align-items: center;
	height: 100%;
	margin: auto;
	justify-content: space-between;

	@media(max-width: 1050px) {
		width: 100%;
	}

	.mockup{
		.heading{
			padding: 0;
			text-align: center;
		}
		overflow: hidden;
		width: 25%;
		min-width: 350px;
		img{
			width: 100%;
		}

		.image-container {
			width: 100%;
			img {
				width: 100%;
			}
		}

	}

	.arrow{
		min-width: 70px;
		max-width: 110px;
		margin: 0px 25px 0 25px;
		img{
			width: 100%;
		}
	}

	.components-card-phone{
		width: 25%;
		min-width: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.phone{
			width: 105%;
			position: absolute;
		}

		.card{
			width: 95%;
			margin: 0;
			overflow: hidden;
		}
		
	}
}

.phone-container {
	display: flex;
	justify-content: center;
	width: fit-content !important;

	.phone {
		position: absolute;
		height: 566px !important;
	}
}

.loading{
	margin: auto;
	.heading2{
		font-size: 28px;
		font-family: $font-primary-medium;
		color: $font-color-primary;
	}
}

.spinner {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1{
	background-color: $secondary;
}

.dot2 {
  top: auto;
  bottom: 0;
  background-color: $primary;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}