.page.upload{
	display: flex;
	align-items: center;
}

.upload-container{
	margin: auto;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;

	.upload-dropzone{
		button{
			background-color: #FCFCFF;
			border: none;
			@include box-shadow(0px, 0px, 4px, $primary);
		}
	}

	.upload-heading{
		margin-bottom: 50px;
		.heading1{
			margin-bottom: 0;
		}

		.pg{
			font-size: 1.15rem;
			color: $font-color-secondary;
		}
		@media only screen and (max-width: 600px) {
		   display: none;
		}
	}
}

.bg-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80%;
    position: absolute;
    align-self: flex-end;
    z-index: -1;
    img {
     width: 100%;
     max-height: 80vh;
     min-height: 60vh;
    }
}

.components-container{
	margin: auto;
	display: flex;
	align-items: center;
	width: 80%;
	height: 100%;
	justify-content: space-between;

	.mockup{
		.heading{
			padding: 0;
		}
		overflow: hidden;
		width: 25%;
		min-width: 350px;
		img{
			width: 100%;
		}
	}

	.arrow{
		width: 100px;
		img{
			width: 100%;
		}
	}

	.components-card-phone{
		width: 25%;
		min-width: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.phone{
			width: 105%;
			position: absolute;
		}

		.card{
			width: 95%;
			margin: 0;
		}
	}
}

