@import "../../config/styles";

.heading {
    @extend .flex-center-inside;

    padding: 15px $padding-lr 15px $padding-lr;
    width: calc(100% - 2*$padding-lr);
    height: auto;

    h1,h2,h3 {
        margin: 0;
    }

    &1{
        font-size: 40px;
    }
    &2{
        font-size: 30px;
    }
    &3{
        font-size: 24px;
    }
}
