@import "../../config/styles";

.search-container {
  padding: 5px 10px 5px 10px;
  width: 200px;

  .search {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    .glass {
      max-height: 13px;
      padding-left: 15px;
      padding-right: 20px;
      flex: 1;
    }

    .search-text {
      color: black;
      border-width: 0px;
      font-size: 13px;
      font-family: $font-primary-medium;
      flex: 10;
      transform: translate(0, 8%);

      &:focus {
        outline: 0;
      }
    }

    .buffer {
      flex: 2;
    }
  }
}