@import "../../config/styles";

.nav-container {
  font-family: $font-primary-black;
  display: flex;
  justify-content: space-between;
  height: 13vh;
  width: 100vw;
  position: absolute;

  .left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo-container {
      height: 100%;
      width: fit-content;

      .logo {
        margin: 0 15px 0 15px;
        max-height: 55%;
        transform: translate(0,-50%);
        top: 50%;
        position: relative;
      }
    }

    .genie-container {
      height: 100%;
      width: fit-content;

      .genie-text {
        margin-left: 10px;
        max-height: 25%;
        transform: translate(0,-50%);
        top: 50%;
        position: relative;
      }
    }
  }

  .link-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50vw;
    margin-right: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;

    .links {
      padding-left: 10px;
    }
  
    .link-text{
      color: black;
      border-width: 0px;
      font-size: 1.2rem;
      font-family: $font-primary-medium;
      text-decoration: none;
      position: relative;
      &:before{
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        background-color: $primary;
        transform: scaleX(0);
        transition: all .2s ease;
      }

      &:hover:before{
        transform: scaleX(1);
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .buffer {
    flex: 2;
  }
}