@import "../../config/styles";

.nav-container {
  padding: 50px 50px 50px 50px;
  font-family: $font-primary-black;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    .genie {
      margin-right: 10px;
    }

    .genie-text {
      margin-left: 10px;
      max-width: 97px;
      max-height: 37px;
    }
  }

  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    margin-right: 45px;

    .links {
      padding-left: 10px;
    }
  
    .link-text {
      color: black;
      border-width: 0px;
      font-size: 13px;
      font-family: $font-primary-medium;
      flex: 10;
      transform: translate(0, 8%);
  
      &:focus {
        outline: 0;
      }
    }
  }

  .buffer {
    flex: 2;
  }
}